body {
  font-family: 'Source Sans Pro', sans-serif;
}

h2 h3 h4{
  font-weight: 600;
}

.heading {
  font-size: 2.5rem;
}

.subheading {
  font-size: 1.75rem;
}

.custom-footer {
  background-color: #eee;
  border-bottom: solid 1px #dce3e5;
  border-top: solid 1px #dce3e5;
}
.custom-jumbotron {
  background-color: #eee;
  border-bottom: solid 1px #dce3e5;
  border-top: solid 1px #dce3e5;
}
.learn-html  {
  background-color: #ffe8d4;
  text-align: center;
}
.test {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
.test:hover {
  text-decoration: none;
  color: green;
}
.learn-html a {
  color: #333333;
  text-decoration: none;
}
.learn-html a:hover {
  color: blueviolet;
  text-decoration: none;
}
.ans {
	color: blueviolet;
	text-decoration: none;
}
pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #3d7e9a;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}
.heading h3{
  font-size: 4rem;
}

.sidenav {
  height: 525px;
  width: 14%;
  position: absolute;
  z-index: 1;
  top: auto;
  left: 0;
  right: 0;
  /* display: block; */
  /* overflow: hidden; */
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.sidenav h3 {
  padding: 6px 8px 6px 16px;
  color: #064579;
}

p.option {
  padding-left: 20px;
}

